body {
    font-family: Roboto, sans-serif;
    margin: 0;
}


.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: #F9FAF8;
    font-weight: 900;
    align-items: center;
}

.logo {
    font-size: 18px;
    margin-top: 20px;
}

a {
    color: #F9FAF8;
    text-decoration: none;
    margin-left: 16px;
}

.hero {
    min-height: 360px;
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    color: #F9FAF8;
    gap: 50px;
}

.left {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 16px;
    gap: 8px;
    color: #E5E7EB;
    margin-left: 8px;
}

.right {
    margin-top: 16px;
}

h1 {
    font-size: 48px;
    font-weight: 900px;
    margin: -5px;
}

.subtext {
    font-size: 18px;
    margin-top: -8px;
    color: #E5E7EB;
}

img {
    max-width: 400px;
}

button {
    max-width: 80px;
    background-color: #3882F6;
    color: white;
    border: 0;
    border-radius: 4px;
    padding: 4px;
    margin-top: -8px;
}

h2 {
    text-align: center;
}

.photo-array {
    display: flex;
    gap: 8px;
    max-width: 150px;
    margin-left: 500px;
}
