body {
    font-family: Roboto, sans-serif;
    margin: 0;
}


.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: #F9FAF8;
    font-weight: 900;
    align-items: center;
}

.logo {
    font-size: 18px;
    margin-top: 20px;
}

a {
    color: #F9FAF8;
    text-decoration: none;
    margin-left: 16px;
}

.hero {
    min-height: 360px;
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    gap: 80px;
}

.left {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 16px;
    gap: 8px;
    color: #E5E7EB;
    margin-left: -12px;
}

.right {
    margin-top: 16px;
    margin-right: -16px
    
}

h1 {
    font-size: 48px;
    font-weight: 900px;
    margin: -5px;
}

.subtext {
    font-size: 18px;
    margin-top: -8px;
    color: #E5E7EB;
}



button {
    max-width: 80px;
    background-color: #3882F6;
    color: white;
    border: 0;
    border-radius: 4px;
    padding: 4px;
    margin-top: -8px;
}

h2 {
    text-align: center;
}

.photo-array {
    display: flex;
    justify-content: center;
    gap: 70px;
    text-align: center;
}

.photo-array > p {

}

img {
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.right > img {
    border: 0;
}

.quote-section {
    background-color: #E5E7EB;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.large {
    max-width: 700px;
    font-size: 36px;
    font-style: italic;
    margin-bottom: 0px;
}

.attr {
    font-size: 12px;
    font-weight: bold;
    margin-left: 550px;

}